
body {
  font-size: 40px;
  color: #000;
  width: 600px;
  margin-left: 15%;
  margin-top: 5%;
  background-color: #fff138;
  font-family: source-han-sans-korean, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.container{
    margin-top: 80%;
    width: 960px;
}
a {
  color: #000;
  text-decoration: none;

}
a:hover {
  font-size: 70px;
  line-height: 65px;

}
h1:hover{
    display: none;
}

.articles {
  list-style-type: none;
  margin: 2em 0;
  line-height: 48px;
  width: 550px;

}

h1{
    position: absolute;
    font-size: 85px;
    line-height: 84px;
    width: 400px;
    height: 380px;
    top: 20px;
    background: #fff138;
    border-bottom: 8px solid black;
}

h2{
    position: absolute;
    top: 15px;
    width: 380px;
    height: 420px;
    font-size: 85px;
    line-height: 90px;
    border-bottom: 8px solid black;

}

#date{

    text-align: right;

}
