body, html{
    background-color:#f1b23d;

    width: 100%;

}

.text{
    font-family: helvetica;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    color: white;
}

.img{
position: absolute;
top: 80px;
left: 320px;

}

.img2{
    position: absolute;
    top: 1200px;
    left: 450px;
}

.img3{
    position: absolute;
    top: 250%;
    left: 320px;

}

.img4{
    position: absolute;
    left: 270px;
    top: 350%;
}

#intro{
    position: absolute;
    top: 900px;
    left: 210px;
    width: 1000px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
}

#target{
    position: absolute;
    top: 250%;
    left: 210px;
    width: 1000px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;

}

#achieve{
    position: absolute;
    top: 330%;
    left: 210px;
    width: 1000px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;

}

#steps{
    position: absolute;
    text-align: left;
    top: 420%;
    right: 15%;
    font-size: 22px;
    line-height: 23px;

}

#heading{
    position: absolute;
    top: 70px;
    left: 360px;
}
